.blog {
  margin-bottom: $margin-larger;
  &__container {
    margin-bottom: $margin-medium;
    cursor: pointer;
    &:hover {
      .blog--content {
        color: $blue;
      }
    }
    p {
      margin: $margin-small 0;
    }
  }
  &--date {
    color: $gray;
  }
  &--content {
    font-weight: bold;
  }
}
