.experience {
  display: flex;
  width: 100%;
  min-height: 500px;

  @media (min-height: 900px) {
    min-height: 500px !important;
  }

  &__left {
    width: 200px;
    background-color: #ef3705;
  }
}
