.menu {
  display: flex;
  width: 100%;

  &__container {
    flex: 1;
    display: flex;
    flex-direction: column;

    a {
      text-decoration: none;
      cursor: pointer;
      margin: $margin-small 0;
      color: #212121;

      &:visited {
        color: inherit;
      }
      &:hover {
        color: $dark-blue;
      }
    }
  }

  &--global {
    display: inline-flex;
    align-items: center;
    border: solid black 1px;
    border-radius: 5px;
    padding: 0 $margin-large;
    cursor: pointer;

    &:hover {
      color: $dark-blue;
      border: solid $dark-blue 1px;
    }

    i {
      font-size: 1.6rem;
      margin-right: $margin-medium;
    }
  }
}
