.navBar {
  display: flex;
  justify-content: center;
  background-color: $dark-blue;
  color: $white;
  height: 52px;

  a {
    text-decoration: none;
    color: $white;
  }

  &--title {
    font-weight: bold;
  }

  &__container {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint(tab-land) {
      width: 60%;
    }
  }

  &__items {
    display: flex;
    align-items: center;

    i {
      margin-right: $margin-small;
      font-size: 24px;
    }

    &-item {
      padding: 10px 14px;
      display: flex;
      align-items: center;
      &:hover {
        border-bottom: 2px solid $white;
      }
    }
  }
}
