.navBar {
  display: flex;
  justify-content: center;
  background-color: #0014a0;
  color: #ffffff;
  height: 52px;

  &__container {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__items {
    display: flex;

    i {
      margin-right: 5px;
      font-size: 24px;
    }

    &-item {
      padding: 0 14px;
    }
  }
}
