.navBar {
  display: flex;
  justify-content: center;
  background-color: $dark-blue;
  color: $white;
  height: 52px;

  &__container {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__items {
    display: flex;
    align-items: center;

    i {
      margin-right: 5px;
      font-size: 24px;
    }

    &-item {
      padding: 0 14px;
      display: flex;
      align-items: center;

      a {
        text-decoration: none;
        color: $white;
      }
    }
  }
}
