.newsSummary {
  display: flex;
  flex-direction: column;
  margin-right: 30px;

  &__container {
    margin-bottom: 30px;
    height: 200px;
    display: flex;
    box-shadow: 1.2px 1.5px 1.5px 1px #e6e6e6;

    &--image img {
      height: 200px;
    }

    &--content {
      margin: 0 60px;
      cursor: pointer;

      &:hover {
        h3 {
          color: blue;
        }
      }

      &-link {
        margin-top: 40px;
        font-weight: bold;
        cursor: pointer;

        &:hover {
          color: blue;
        }
      }
    }
  }
}
