.news {
  display: flex;
  justify-content: center;
  margin-top: $margin-larger;

  &__container {
    display: flex;
    width: 95%;

    @include breakpoint(desktop) {
      width: 70%;
    }
  }

  &__newsSummary {
    flex: 1.7;
  }

  &__blog {
    flex: 1;
  }
}
