// color
$blue: #0000ff;
$dark-blue: #0014a0;
$light-blue: #a1d1ff;
$gray: #8a8a8a;
$cyber-orange: #ef3705;
$light-gray: #f0f0f0;
$white: #ffffff;

// Margin
$margin-small: 5px;
$margin-medium: 20px;
$margin-large: 50px;
$margin-larger: 70px;
