.statement {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;

  &__container {
    width: 60%;

    p {
      padding-right: 10%;
    }
  }

  &--link {
    font-weight: bold;
    cursor: pointer;

    &:hover {
      color: blue;
    }
  }
}
