.story {
  height: 340px;
  background: url('../assets/images/people.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;

  &__content {
    width: 30%;
    margin-left: 25%;
    h3 {
      font-weight: 400;
    }
  }
}
